$font-headings: 'Open Sans', Arial, Helvetica, sans-serif;
$font-general: 'Open Sans', Arial, Helvetica, sans-serif;
$font-icons: 'Font Awesome 5 Solid';

$color-blue: #20ABEE;
$color-green: #55B948;
$color-grey: #5F5F5F;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #e92566;

$primary: $color-blue;
$secondary: $color-green;
$error: $color-red;

$colors-base: 
(
  "primary":    $primary,
  "secondary":  $secondary,
  "error":      $error
);

$colors: 
(
  "blue":     $color-blue,
  "green":    $color-green,
  "red":      $color-red,
  "black":    $color-black,
  "grey":     $color-grey,
);

$color-body: $color-grey;
$color-heading: #4d4d4d;
$color-link: $color-black;
$color-border: lighten($color-grey, 45%);
$color-link-hover: rgba($color-black, 0.75);

$table-color: $color-grey;
$table-head-background: lighten($table-color, 45%);
$table-border: lighten($table-color, 45%);
$table-row-background: $table-color;
$table-alt-row-background: lighten($primary, 45%);

$spacing: 20px;
$padding: 20px;
$border-radius: 5px;
$box-shadow: 0 0 5px 0 rgba($color-black, 0.2);
$opacity-disabled: 0.6;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
