.border {
  &--none {
    border: none !important;
  }

  &--top {
    &--none {
      border-top: none !important;
    }
  }

  &--bottom {
    &--none {
      border-bottom: none !important;
    }
  }
}
