@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $name: breakpoint-name($breakpoint, $grid-breakpoints);
  
      .float#{$name}--left  { float: left !important; }
      .float#{$name}--right { float: right !important; }
      .float#{$name}--none  { float: none !important; }
    }
  }
  