@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $name: breakpoint-name($breakpoint, $grid-breakpoints);

    @for $i from 1 through 5 {
      .ma#{$name} {
        &-#{$i} {
          margin: #{10 * $i}px !important;
        }

        &--x-#{$i} {
          margin-left: #{10 * $i}px !important;
          margin-right: #{10 * $i}px !important;
        }

        &--y-#{$i} {
          margin-top: #{10 * $i}px !important;
          margin-bottom: #{10 * $i}px !important;
        }

        &--top-#{$i} {
          margin-top: #{10 * $i}px !important;
        }

        &--right-#{$i} {
          margin-right: #{10 * $i}px !important;
        }

        &--bottom-#{$i} {
          margin-bottom: #{10 * $i}px !important;
        }

        &--left-#{$i} {
          margin-left: #{10 * $i}px !important;
        }
      }

      .pa {
        &-#{$i} {
          padding: #{10 * $i}px !important;
        }

        &--x-#{$i} {
          padding-left: #{10 * $i}px !important;
          padding-right: #{10 * $i}px !important;
        }

        &--y-#{$i} {
          padding-top: #{10 * $i}px !important;
          padding-bottom: #{10 * $i}px !important;
        }

        &--top-#{$i} {
          padding-top: #{10 * $i}px !important;
        }

        &--right-#{$i} {
          padding-right: #{10 * $i}px !important;
        }

        &--bottom-#{$i} {
          padding-bottom: #{10 * $i}px !important;
        }

        &--left-#{$i} {
          padding-left: #{10 * $i}px !important;
        }
      }

    }
  }
}