.btn {

  /**
    * Establishing defaults that apply for buttons as well as link and visited pseudo classes
    * link: pseudo class to control when button functions as an anchor element
    * visited: pseudo class to control when user has clicked the anchor element once before
    */
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1.75rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .02rem;
    // added this to handle the <button> HTML element and not just the <a>
    border: none;
    cursor: pointer;
  }

  &:hover {
    /**
      * Here we create a simple effect that provides some depth to the button
      * Specifically, we move the button up a tiny bit and give it some drop shadow
      */
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);

  }

  &:active {
    /**
      * Once the button is clicked, we want to provide some feedback.
      * Specifically, we move the button down a tiny bit to create a pressing illusion.
      * We also back-off on the drop shadow once it is clicked
      */
    transform: translateY(-1px);
    box-shadow: var(--box-shadow);
  }

  &--primary {
    background-color: var(--color-primary-light);
    color: $color-grey;
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: $color-white;
  }

  &--light {
    background-color: $color-white;
    color: $color-grey;
  }

  &--animated {
    // adding a .75s delay before starting animation
    animation: moveInBottom 0.5s ease-out 0.3s;

    // the property below automatically applies the styles of the 0% before the animation starts
    animation-fill-mode: backwards;
  }

  &--inline {
    border: none;
    text-decoration: none;
    color: $color-grey;
    font-size: inherit;
    padding: 1px;
    cursor: pointer;
    transition: all .2s;

    background-color: transparent;

    &:hover {
      color: var(--color-link-hover);

    }

    &:active {
      outline: 0;
      color: var(--color-primary-dark);
      transform: translateY(1px) scale(1.05);
    }

    &:focus {
      outline: 0;
    }
  }

  &--icon {
    &::before {
      font-family: $font-icons;
    }

    &__download:before {
      content: '\f019';
    }

    &__edit:before {
      content: '\f303';
    }
  }

}