label, .label {
    display: block;
    margin: 0 0 5px 0;
    font-family: $font-headings;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: color-dark('grey', 1);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
textarea,
select {
    display: block;
    outline: none;
    width: 100%;
    border: solid 1px $color-grey;
    padding: calc(var(--padding-half) /2) var(--padding-half);
    background:#e9ecef;
    box-shadow: 0 0 5px #367fa9;
    font-family: $font-general;
    font-size: 1.2rem;
    line-height: 1;
    color: $color-black;

    &:disabled {
        opacity: $opacity-disabled; 
        cursor: no-drop;
    }

    &[readonly]:not(.date-picker__input) {
        opacity: $opacity-disabled;
        cursor: default;
    }

    &:not([readonly]):focus {
        background: $color-white;
        border-color: color-light('blue', 2) !important;
    }
}

textarea {
    height: 115px;
    line-height: 1.25;
}

::placeholder {
    color: color-dark('grey', 2);
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    box-shadow: none;
    outline: none;
    border: none;
    padding: none;
    background: none;
}

.form-group {
    display: flex;
    flex-direction: row;

    input {
        padding-right: 30px;
    }

    &__icon {
        margin-left: -30px;
        margin-top: 5px;
        color: $color-black !important;

        &::before{
            content: '\f00d';
        }
    }
}