.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--margin);
  z-index: 1000;

  &.show {
    display: flex;
  }

  .blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba($color-black, 0.6);
  }
}

.modal {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  max-width: 100%;
  max-height: 100%;
  background: $color-white;
  position: fixed;
  border-radius: var(--border-radius);

  &__header {

    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 15px;
    background: var(--color-primary);
    color: $color-white;
    line-height: 1;
    
    font-weight: 600;
    font-size: 1.2rem;

    * {
        margin-bottom: 0;
        color: $color-white;
    }
  }

  &__content {
      flex-grow: 1;
      max-height: 100%;
      overflow-y: auto;
      padding-bottom: calc(var(--padding) / 2);

      > :first-child {
          margin-top: 0;
      }
  }

  &__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 var(--padding) var(--padding) var(--padding);

      &__item {
          &--left {
              margin-right: auto;
          }
      }

      button {
          margin: 0 var(--padding-half) 0 0;

          &:last-child {
              margin-right: 0;
          }
      }
  }
}
