table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 6px 12px;
        vertical-align: middle;
        background-clip: padding-box;
        text-align: left;
    }

    th {
        font-weight: bold;
        white-space: nowrap;
    }

    thead {
        tr, th {
            background-color: $table-head-background;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: $table-alt-row-background;
            }
        }
    }

    tfoot {
        td {
            font-weight: bold;
            padding: 3px 15px;
        }

        hr {
            border: 0;
            border-top: solid 1px $table-border;
        }
    }
}