/*
|--------------------------------------------------------------------------
| Typographical Styles
|--------------------------------------------------------------------------
|
| Here we define the base typography for the application.
|
*/

// html, body {
//   height: 100%;
// }

html {


  /**
     * Establishing base size for all properties that take a pixel measurement
     *  
     * Here we want to define the root element (html tag) to be 62.5% of the browser default.
     * Browser default is 16px, therefore we set property to 62.5% to achieve a definition
     * of 10px = 1rem for our default viewport size range.
     */

  font-size: 62.5%;
}

body {
  font-family: $font-general;
  font-weight: 400;
  color: $color-body;
  height: 100vh;
}

.h1 {
  display: block;
  margin: 0 0 var(--margin) 0;
  font-family: $font-headings;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-heading);
  text-transform: uppercase;

  &:not(:first-child) {
      margin-top: var(--margin);
  }
}

.h2 {
  display: block;
  margin: 0 0 var(--padding) 0;
  font-family: $font-headings;
  font-size: 1.44rem;
  font-weight: 600;
  color: var(--color-heading);

  &:not(:first-child) {
      margin-top: var(--padding);
  }
}

.h3 {
  display: block;
  margin: 0 0 var(--padding-half) 0;
  font-family: $font-headings;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-heading);

  &:not(:first-child) {
      margin-top: var(--padding);
  }
}

.subheading {
  display: block;
  color: var(--color-heading);
}

p {
  line-height: 1.5;
  
  &:not(:last-child) {
      margin-bottom: var(--margin);
  }
}

a {
  color: var(--color-link);
  text-decoration: none;
}
